<!doctype html>
<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>

  <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{{ shop.name }} - {% if template == "404" %}Page not found{% else %}{{ page_title }}{% endif %}</title>

  {% if page_description %}
  <meta name="description" content="{{ page_description }}" />
  {% endif %}
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  
  <link rel="canonical" href="{{ canonical_url }}" /> 
  
  {% include 'fb-open-graph' %}

  {{ 'shop.css' | asset_url | stylesheet_tag }}
  {% if settings.google_header_font != "none" %}
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family={{ settings.google_header_font }}:300,400,700">
  {% endif %}
  {% if settings.google_nav_font != "none" %}
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family={{ settings.google_nav_font }}:300,400,700">
  {% endif %}
  {{ 'html5shiv.js' | asset_url | script_tag }}
  {% include 'capture' %}  

  {{ content_for_header }}

  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  
  {{ 'option_selection.js' | shopify_asset_url | script_tag }}
  {{ 'api.jquery.js' | shopify_asset_url | script_tag }}

  {% if template contains 'customers' %}
  {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {{ 'customer_area.js'  | shopify_asset_url | script_tag }}
  {% endif %}
  
</head>

<body>
  <div class="wrapper">
    <header id="header" class="row">
      <div class="span12 clearfix">
        <div class="logo">
          {% if settings.use_logo %}
          <a href="/"><img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" /></a>
          {% else %}
          <h1><a href="/">{{ shop.name }}</a></h1>
          {% endif %}
        </div> <!-- /.logo -->
        <div class="cart-summary">
          <a href="/cart" class="clearfix">
            <div class="icon">View cart</div>
            <div class="details">
              {% if template == "cart" %}
              <span class="note">Checkout</span>
              {% else %}
              <span class="note">Your cart</span>
              {% endif %}
              <span class="item-count">{{ cart.item_count }} {{ cart.item_count | pluralize: 'Item', 'Items' }}</span>
            </div> <!-- /.details -->
          </a>
        </div> <!-- /.cart-summary -->
      </div> <!-- /.span12 -->
    </header> <!-- /#header.row -->

    <section id="nav" class="row">
      <div class="span12">
        <nav class="main">
        {% include 'simple_dropdown' %}
        </nav> <!-- /.main -->
        {% include 'mobile-menu' %}
      </div> <!-- /.span12 -->
    </section> <!-- /.row -->

    <section id="body">
      {% if template == "index" and settings.display_slideshow %}
      <section id="slideshow" class="row">
        <div class="span12 slideshow">
          <div class="flexslider">
            <ul class="slides unstyled">
              {% for i in (1..10) %}
              {% capture display_slideshow %}display_slideshow_{{ i }}{% endcapture %}
              {% capture slide %}slideshow_{{ i }}.jpg{% endcapture %}
              {% capture link %}image_{{ i }}_link{% endcapture %}
              {% capture alt %}image_{{ i }}_alt{% endcapture %}
              {% if settings[display_slideshow] %}
              <li class="slide"><img src="{{ slide | asset_url }}" data-url="{{ settings[link] }}" class="slide-img" alt="{{ settings[alt] }}" /></li>
              {% endif %}             
              {% endfor %}
            </ul>
          </div> <!-- /.flexslider -->
          <div class="custom-flexslider-controls"></div> <!-- /.custom-flexslider-controls -->
        </div> <!-- /.span12.slideshow -->
      </section> <!-- /#slideshow.row -->
      {% endif %}
      
      {% if template == 'list-collections' %}
      {% include 'collection-listing' %}
      {% else %}
      {{ content_for_layout }}
      {% endif %}
    </section> <!-- /#body -->

    <footer id="footer">
      {% if settings.footer_display_about_us or settings.footer_display_contact_us or settings.footer_display_newsletter %}
      <div class="row footer-columns">
        {% if settings.footer_display_about_us %}
        <section class="span4 about-us">
          <h3>About Us</h3>
          {{ shop.description }}
        </section> <!-- /.span4 -->
        {% endif %}
        {% if settings.footer_display_contact_us %}
        <section class="span4 contact-us">
          <h3>Contact Us</h3>
          {{ settings.footer_contact_us }}
        </section> <!-- /.span4 -->
        {% endif %}
        {% if settings.footer_display_newsletter %}
        <section class="span4 newsletter">
          <h3>Newsletter</h3>
          <form action="{{ settings.mailing_list_form_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
            <input type="email" value="" name="EMAIL" id="mail" /><input type="submit" class="btn slim" value="Subscribe" name="subscribe" id="subscribe" />
          </form>
        </section> <!-- /.span4 -->
        {% endif %}
      </div> <!-- /.row.footer-columns -->
      {% endif %}
      {% if settings.display_footer_nav %}
      <section id="footer-nav" class="row">
        <div class="span12">
          <nav class="main">
            <ul class="horizontal unstyled clearfix">
              {% for link in linklists[settings.footer_linklist].links %}
              <li><a href="{{ link.url }}" class="{% if link.url == active_url %} current{% endif %}{% if template == 'article' and link.url == blog.url %} current{% endif %}"><span>{{ link.title }}</span></a></li>
              {% endfor %}
            </ul>
          </nav> <!-- /.main -->
          <nav class="mobile clearfix">
            <select name="footer_navigation" id="footer_navigation" class="fl">
              <option value="{{ active_url }}" selected="selected">{{ active_title }}</option>
              {% for link in linklists[settings.footer_linklist].links %}
              {% if active_url != link.url %}
              <option value="{{ link.url }}">{{ link.title }}</option>
              {% endif %}
              {% endfor %}
              <option value="/cart">Your cart ({{ cart.item_count }})</option>
            </select>
          </nav> <!-- /.mobile -->
        </div> <!-- /.span12 -->
      </section> <!-- /.row -->
      {% endif %}
      <div class="row payments-and-notices">
        <section class="span4 footer-social">
          <ul class="unstyled clearfix">
          {% if settings.twitter_link != '' %}<li><a href="{{ settings.twitter_link }}" title="{{ shop.name }} on Twitter" class="icon-social twitter ir">Twitter</a></li>{% endif %}
          {% if settings.facebook_link != '' %}<li><a href="{{ settings.facebook_link }}" title="{{ shop.name }} on Facebook" class="icon-social facebook ir">Facebook</a></li>{% endif %}
          {% if settings.google_link != '' %}<li><a href="{{ settings.google_link }}" title="{{ shop.name }} on Google+" class="icon-social google ir">Google+</a></li>{% endif %}
          {% if settings.youtube_link != '' %}<li><a href="{{ settings.youtube_link }}" title="{{ shop.name }} on YouTube" class="icon-social youtube ir">YouTube</a></li>{% endif %}
          {% if settings.vimeo_link != '' %}<li><a href="{{ settings.vimeo_link }}" title="{{ shop.name }} on Vimeo" class="icon-social vimeo ir">Vimeo</a></li>{% endif %}
          {% if settings.instagram_link != '' %}<li><a href="{{ settings.instagram_link }}" title="{{ shop.name }} on Instagram" class="icon-social instagram ir">Instagram</a></li>{% endif %}
          {% if settings.pinterest_link != '' %}<li><a href="{{ settings.pinterest_link }}" title="{{ shop.name }} on Pinterest" class="icon-social pinterest ir">Pinterest</a></li>{% endif %}         
          {% if settings.tumblr_link != '' %}<li><a href="{{ settings.tumblr_link }}" title="{{ shop.name }} on Tumblr" class="icon-social tumblr ir">Tumblr</a></li>{% endif %}          
          {% if settings.atom_link != '' %}<li><a href="{{ shop.url }}/blogs/{{ settings.atom_link }}.atom" title="{{ shop.name }} news" class="icon-social atom ir">Blog feed</a></li>{% endif %}
          </ul>
        </section> <!-- /.span4 -->
        <section class="span8 shop-notices">
          Copyright &copy; {{ 'now' | date: "%Y" }} {{ shop.name }}
          {% if settings.display_shop_currency %}| All prices in {{ shop.currency }}{% endif %}
        </section> <!-- /.span8 -->
      </div> <!-- /.row.payments-and-notices -->
    </footer> <!-- /#footer -->
  </div> <!-- /.wrapper -->

  <div class="wrapper payment-methods">
    <div class="row">
      {% if settings.display_footer_search %}
      <section class="fr span6 searchform">
        <form id="search_form" name="search" action="/search" class="clearfix">
          <input type="submit" value="Go" class="submit" />
          <input type="text" class="text" name="q"  />
        </form>
      </section> <!-- /.span6 -->
      {% endif %}
      <div class="span6">
        <ul class="credit-cards clearfix">
          {% if settings.accept_visa %}<li><img src="{{ 'icn_cc-visa.gif' | asset_url }}" alt="Visa" /></li>{% endif %}
          {% if settings.accept_mastercard %}<li><img src="{{ 'icn_cc-mastercard.gif' | asset_url }}" alt="MasterCard" /></li>{% endif %}
          {% if settings.accept_amex %}<li><img src="{{ 'icn_cc-amex.gif' | asset_url }}" alt="Amex" /></li>{% endif %}
          {% if settings.accept_cirrus %}<li><img src="{{ 'icn_cc-cirrus.gif' | asset_url }}" alt="Cirrus" /></li>{% endif %}
          {% if settings.accept_delta %}<li><img src="{{ 'icn_cc-delta.gif' | asset_url }}" alt="Delta" /></li>{% endif %}
          {% if settings.accept_discover %}<li><img src="{{ 'icn_cc-discover.gif' | asset_url }}" alt="Discover" /></li>{% endif %}
          {% if settings.accept_westernunion %}<li><img src="{{ 'icn_cc-westernunion.gif' | asset_url }}" alt="Western Union" /></li>{% endif %}
          {% if settings.accept_google %}<li><img src="{{ 'icn_cc-google.gif' | asset_url }}" alt="Google Wallet" /></li>{% endif %}
          {% if settings.accept_paypal %}<li><img src="{{ 'icn_cc-paypal.gif' | asset_url }}" alt="PayPal" /></li>{% endif %}
        </ul> <!-- /.credit-cards -->
      </div> <!-- /.span6 -->
    </div> <!-- /.row -->
  </div> <!-- /.wrapper -->

  {% if settings.display_slideshow %}{{ 'jquery.slider.js' | asset_url | script_tag }}{% endif %}
  {% if settings.include_masonry %}{{ 'jquery.masonry.js' | asset_url | script_tag }}{% endif %}
  {% if settings.enable_product_image_zoom %}{{ 'jquery.zoom.js' | asset_url | script_tag }}{% endif %}
  {{ 'fancy.js' | asset_url | script_tag }}
  {{ 'shop.js' | asset_url | script_tag }}

  {% if template contains "product" %}
  <script type="text/javascript">
  
  var selectCallback = function(variant, selector) {
    if (variant) {
      if (variant.available) {
        jQuery('#add-item-to-cart').removeAttr('disabled').removeClass('disabled').val('Add to cart');
      }
      else {
        jQuery('#add-item-to-cart').val('Sold Out').addClass('disabled').attr('disabled', 'disabled');
      }
      
      if(variant.price < variant.compare_at_price){
        jQuery('#price-preview').html(Shopify.formatMoney(variant.price, "{{ shop.money_format }}") + " <del>" + Shopify.formatMoney(variant.compare_at_price, "{{ shop.money_format }}") + "</del>");
      } else {
        jQuery('#price-preview').html(Shopify.formatMoney(variant.price, "{{ shop.money_format }}"));
      }
      
    } else {
      jQuery('#add-item-to-cart').val('Unavailable').addClass('disabled').attr('disabled', 'disabled');
    }
  };

  jQuery(document).ready(function($){
      
    new Shopify.OptionSelectors("product-select", { product: {{ product | json }}, onVariantSelected: selectCallback });

    // Add label if only one product option and it isn't 'Title'.
    {% if product.options.size == 1 and product.options.first != 'Title' %}
      $('.selector-wrapper:eq(0)').prepend('<label>{{ product.options.first }}</label>');
    {% endif %}
  
    // Auto-select first available variant on page load.
    {% assign found_one_in_stock = false %}
    {% for variant in product.variants %}
      {% if variant.available and found_one_in_stock == false %}
        {% assign found_one_in_stock = true %}
        {% for option in product.options %}
        $('.single-option-selector:eq({{ forloop.index0 }})').val({{ variant.options[forloop.index0] | json }}).trigger('change');
        {% endfor %}
      {% endif %}
    {% endfor %}

  });
  </script>
  {% endif %}
</body>
</html>