<div id="product" class="{{ product.handle }}">
  
  <div class="row clearfix">
    <h1 class="title">{{ product.title }}</h1>
  </div>
  
  <div class="row clearfix">
    
  <!-- Begin product photos -->
    <div class="image">
      {% for image in product.images %}
      <div class="image span6{% cycle 'last-in-row': '', ' last-in-row' %}">
        <a href="{{ image | product_img_url: 'original' }}" class="zoom" id="placeholder" data-original-image="{{ image | product_img_url: 'original' }}">
          <img src="{{ image | product_img_url: 'original' }}" alt="{{ image.alt | escape }}" />
        </a>
      </div>
      {% endfor %}
    </div>
    <!-- End product image -->
    
  </div>
  <!-- End product photos -->

  <!-- Begin related product -->
  {% include 'related-by-tags' %}
  
</div> 

<div style="display:none" id="preloading">
{% for image in product.images offset: 1 %}
{{ image | product_img_url: 'original' | img_tag }}
{% endfor %}
</div>
  
