{% capture collection_handle %}{{ product-loop | handleize }}{% endcapture %}
{% capture url %}{% if collection_handle != "" %}/collections/{{ product-loop }}{{ product.url }}{% else %}{{ product.url }}{% endif %}{% endcapture %}
<div class="span3 product">
  
  {% if product.price_min < product.compare_at_price_min %}
    <span class="circle sale">Sale</span>
  {% endif %}
  
  <div class="image">
    <a href="{{ url }}">
      <img src="{{ product.featured_image | product_img_url: 'large' }}" alt="{{ product.title | escape  }}" />
    </a>
  </div>
</div>

{% cycle 'clear-product-loop': '', '', '', '<div style="clear:both;"></div>' %}